<div fxLayout="column" fxLayoutGap="20px">
<div *ngFor="let p of props"> 

	<div class="card-box"
		(click)="selectProperty(p)">

		<!-- 
		<div [ngStyle]="firstImageUrl(p)" class="card-image"></div>
		-->

		<div class="card-image">
			<div class="card-image" [ngStyle]="firstImageUrl(p)"></div>
		</div>

		<div class="card-info">

			<h2>{{ p.title }}</h2>
			<span class="header-spacer"></span>
			<span>{{ p.price | currency }}</span>
			<!-- Colocar disponibilidad aqui -->

			<p> {{ (p.description.length > 150)? (p.description | slice:0:150)+'...':(p.description) }} </p>
			<!-- Limitar a N caracteres -->
		</div>

	</div>

</div>
</div>

