<mat-card style="max-width: 400px">

	<!-- Colocar imagenes aqui -->
	<img mat-card-image src="/assets/moderne.jpg" alt="Photo" />

	<mat-card-header>
		<mat-card-title>{{ _prop.title }}</mat-card-title>
		<mat-card-subtitle>{{ _prop.price | currency }}</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content *ngIf="_show">

		<p>{{ _prop.description }}</p>

		<mat-divider [inset]="true"></mat-divider>
		<h3>Direccion</h3>
		<p>{{ _prop.address.city }}, {{ _prop.address.state}} </p>
		<p>{{ _prop.address.streetAddress}}. {{ _prop.address.postalCode }}</p>

		<mat-divider [inset]="true"></mat-divider>
		<h3>Contacto</h3>
		<p>{{ _prop.contact.email }}</p>
		<p>{{ _prop.contact.phone }}</p>

	</mat-card-content>

</mat-card>
